body {
  background-color: #f7d06e;
  font-family: 'Fascinate Inline', cursive;
}

img {
  width: 300px;
  cursor: pointer;
}
p {
  text-align: center;
  font-size: 22px;
}

ul {
  list-style-type: none;
}

.bone-showing {
  display: none;
}

.bird-showing {
  display: none;
}

#bearpic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.dogtag {
  font-size: 18px;
  color: darkblue;
  font-weight: 700;
  letter-spacing: 5px;
}
.cattag {
  font-size: 15px;
  color: red;
  font-style: italic;
  letter-spacing: 5px;
}
.display-3 {
  text-align: center;
}
.col-md-6 img{
display: block;
margin-left: auto;
margin-right: auto;
}
.col-md-6 li{
  text-align: center;
}
#dogpic {
  padding-bottom: 85px;
}
.orange {
  color: orange;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.jumbotron p {
  color: #D2691E;
}
.jumbotron {
  margin-top: 40px;
  border: 5px;
  border-style: dotted;
  border-color: blue;
  border-radius: 50px;
}
